body {
  background: rgba(238, 231, 219, 0.356);
}

h3 {
  margin: 5px 0px 5px 0px;
}

.smurf-list {
  width: 40%;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.smurf-list .smurf {
  width: 235px;
  padding: 1rem;
  margin: 10px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
}
